# NY Powerball Winning Numbers Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/powerball_winning_numbers.csv')
df.head()

    Draw Date    Winning Numbers  Multiplier
0  02/03/2010  17 22 36 37 52 24         2.0
1  02/06/2010  14 22 52 54 59 04         3.0
2  02/10/2010  05 08 29 37 38 34         5.0
3  02/13/2010  10 14 30 40 51 01         4.0
4  02/17/2010  07 08 19 26 36 15         3.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021 entries, 0 to 1020
Data columns (total 3 columns):
Draw Date          1021 non-null object
Winning Numbers    1021 non-null object
Multiplier         811 non-null float64
dtypes: float64(1), object(2)
memory usage: 24.0+ KB